##
## RESOURCE PROFILES
##

custom_small:
    name: "Custom SMALL Resource"
    description: "generic resource profile of size small"
    vcpus:    4
    memsize:  8000
    storage:
      root:
        size: 50 
        hw_storage_profile: default

custom_medium:
    name: "Custom MEDIUM Resource"
    description: "generic resource profile of size medium"
    vcpus:    4
    memsize:  8000
    storage:
      root:
        size: 50 
        hw_storage_profile: default

custom_large:
    name: "Custom LARGE Resource"
    description: "generic resource profile of size large"
    vcpus:    6
    memsize:  16000
    storage:
      root:
        size: 50 
        hw_storage_profile: default

